<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SMART PORT LOGISTICS</title>
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="portoverview.css">
</head>
<body>
    <div class="head">
        <header>SMART PORT MANAGEMENT</header>
        <h5>ARTIFICIAL INTELLIGENCE DRIVEN</h5>
        <hr>
        <div class="tags">
            <a href="portoverview.html">HOME</a>
            <a href="portlogin.html">LOGIN</a>
            <a href="portpreview">PORT PREVIEW</a>
            <a href="portdash.html">PORT DASHBOARD</a>
        </div>
    </div>
</body>
</html>